
SUPABASE_URL=https://lxnsncmlpkdwtvrbktpb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_jblNqUk7CFsLaRFNoUtdPw_eDMXNbc4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4bnNuY21scGtkd3R2cmJrdHBiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE2MTIyNywiZXhwIjoyMTAzNzM3MjI3fQ.QxH-n7561r8ZROZXRJSzslT5SNLv2iZUZlVUz6Ptj2M

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=quantum.apsche@cutmap.ac.in
MAIL_PASSWORD=gvjanxbmvqiwabky
MAIL_FROM=quantum.apsche@cutmap.ac.in
MAIL_FROM_NAME=Qiskit Fall Fest 2026

EVENT_TIMEZONE=Asia/Kolkata
EVENT_REMINDER_TIME=07:00
REMINDER_PROCESSOR_TOKEN=YOUR_PRIVATE_RANDOM_TOKEN

DATABASE_URL=postgresql://postgres.lxnsncmlpkdwtvrbktpb:Quntumff2026@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres